git+https://github.com/Trusted-AI/AIF360.git@v0.6.1#egg=aif360[AdversarialDebiasing,Reductions,inFairness]
Flask==2.0.1
Werkzeug==2.0.1
pydantic==1.8.2
pandas
numpy
scikit-learn
Pillow
shap
numba
tensorflow
ipython